<div id="main-container" class="container">
  <%= form_for :greeting, url: greetings_display_path, method: "post", html: {class:"form-group"} do |f| %>
    <%= f.label :company, class: "col-2 col-form-label" %>
    <%= f.select_tag "company",
                 options_from_collection_for_select(@companies,
                                                    :id,
                                                    :company
                                                    ),
                                                    { class: "form-control" }
    %>
    <%= f.label :guest %>
    <%= f.select_tag "guest",
                     options_from_collection_for_select(@guests,
                                                        :id,
                                                        :fullName
                                                        ),
                                                        { class: "form-control" }
    %>
    <%= f.label :template %>
    <%= f.text_field_tag :template, @default_template, class: "form-control" %>

    <%= submit_tag "Create Greeting", class: "btn btn-primary" %>
  <% end %>

</div>
